@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

body {
    margin: 10px;
    background-color: black;
    color: white;
}

h1, h2, h3 {
    text-align: center;
}

ul, ol {
    list-style-type: circle;
}

#spalvos {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#spalvos > button {
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 800;
}

#spalvos > button:hover {
    background-color: grey;
    font-weight: 800;
    color: aliceblue;
}