@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

body {
    margin: 10px;
    background-color: black;
    color: white;
}

h1, h2, h3 {
    text-align: center;
}

ul, ol {
    list-style-type: circle;
}